<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Student</title>
</head>
<body>
<form action="/student/create" method="post" th:object="${student}">

  <fieldset class="form-group">

    <div class="form-group row">
      <label for="inputId" class="col-sm-2 col-form-label">Student Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputId" placeholder="Student name" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger" style="color: red"></p>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Class Name</label>
        <select th:field="*{classnum}">
          <option th:each="c: ${classnums}"
                  th:text="${c.className}" th:value="${c.id}">
          </option>
        </select>
      </div>

      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <td>
              <input type="radio" th:field="*{gender}" th:value="1" />
              <label th:text="Male" />
              <input type="radio" th:field="*{gender}" th:value="0" />
              <label th:text="Female" />
            </td>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="date" th:field="*{birthday}">
          <p th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="text-danger" style="color: red"></p>
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="price" placeholder="Email" th:field="*{email}">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger" style="color: red"></p>
      </div>
    </div>

    <div class="form-group row">
      <label for="area" class="col-sm-2 col-form-label">Area</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="area" placeholder="PhoneNumber" th:field="*{phoneNumber}">
        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger" style="color: red"></p>
      </div>
    </div>

  </fieldset>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>


<!--<form action="/contact/create" method="post" th:object="${contact}">-->
<!--    <div>-->
<!--        <label>Name</label>-->
<!--        <input type="text" th:field="*{name}">-->
<!--        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Email</label>-->
<!--        <input type="text" th:field="*{email}">-->
<!--        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Gender</label>-->
<!--        <td>-->
<!--            <input type="radio" th:field="*{gender}" th:value="1" />-->
<!--            <label th:text="male" />-->
<!--            <input type="radio" th:field="*{gender}" th:value="0" />-->
<!--            <label th:text="female" />-->
<!--        </td>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Phone Number</label>-->
<!--        <input type="text" th:field="*{phoneNumber}">-->
<!--        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Birthday</label>-->
<!--        <input type="date" th:field="*{birthday}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>ClassName</label>-->
<!--        <select th:field="*{customer}">-->
<!--            <option th:each="customer: ${classNames}" th:text="${customer.name}" th:value="${customer.id}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <button type="submit">Create</button>-->
<!--</form>-->
</body>
</html>