<p>calculator-ex1 works!</p>
<input type="text" [value]="strInput" disabled>
<table>
  <tr>
    <td>
      <button (click)="input(7)">7</button>
    </td>
    <td>
      <button (click)="input(8)">8</button>
    </td>
    <td>
      <button (click)="input(9)">9</button>
    </td>
    <td>
      <button (click)="input('+')">+</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="input(4)">4</button>
    </td>
    <td>
      <button (click)="input(5)">5</button>
    </td>
    <td>
      <button (click)="input(6)">6</button>
    </td>
    <td>
      <button (click)="input('-')">-</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="input(1)">1</button>
    </td>
    <td>
      <button (click)="input(2)">2</button>
    </td>
    <td>
      <button (click)="input(3)">3</button>
    </td>
    <td>
      <button (click)="input('*')">x</button>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="input(0)">0</button>
    </td>
    <td>
      <button (click)="input('.')">.</button>
    </td>
    <td>
      <button (click)="cal()">=</button>
    </td>
    <td>
      <button (click)="input('/')">/</button>
    </td>
  </tr>
</table>
<app-color-picket></app-color-picket>
