<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function getBlog(blog) {
            return `<tr>`+
                `<td >${blog.blogName}</td>` +
                `<td>${blog.author}` +
                `<td >${blog.publishDate}</td>` +
                `<td >${blog.category.categoryName}</td>` +
                `<input type="button" id="view" value="View">`+
                `<td><a href="/blog/edit/${blog.id}">Edit</a></td>`+
                `<td><a href="/blog/delete/${blog.id}">Delete</a></td>`+
                `</tr>`;
        }

        $(document).ready(function () {
            $("#searchh").click(function (event) {
                let searchValue = $('#inId').val();

                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({'blogName': searchValue}),
                    url: "/api/blog/search",
                    success: function (data) {
                        let content = '<tr>\n' +
                            '<th>Blog name</th>\n' +
                            '<th>Author</th>\n' +
                            '<th>Description</th>\n' +
                            '<th>Category</th>\n' +
                            '<th>View</th>\n' +
                            '<th>Edit</th>\n' +
                            '<th>Delete</th>\n' +
                            '</tr>';
                        for (let i = 0; i < data.length; i++) {
                            content += getBlog(data[i]);
                        }
                        document.getElementById('blogs').innerHTML = content;
                    }
                });
                event.preventDefault();
            })
        })
    </script>
</head>
<body>
<h2>Spring Security Example</h2>
<hr/>
<h3>User dashboard</h3>
<div sec:authorize="isAuthenticated()">
    <b>Welcome!<span sec:authentication="principal.username"></span></b>
</div>
<br/>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/blog/list}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>
<strong style="color: green" th:text="${message}"></strong> <!--text -->
<p th:if="${blogs.isEmpty()}" style="color:red">List Empty</p>
<input type="text" name="inputId" id="inId">
<input type="submit" id="searchh" value="Search">
<a href="/blog/create">Create new Blog</a>
<table class="table" border="1" th:unless="${blogs.isEmpty()}" id="blogs">
    <thead>
    <tr>
        <th>Blog Name</th>
        <th>Author</th>
        <th>Publish Date</th>
        <th>Category</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td th:text="${blog.blogName}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.publishDate}"></td>
        <td th:text="${blog.category.categoryName}"></td>
        <td>
            <!--            <a th:href="@{/blog/detail2/{id}(id = ${blog.blogId})}">View</a>-->
            <input type="button" id="view" value="View">
        </td>

        <td>
            <a th:href="@{/blog/update/{id}(id = ${blog.blogId})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/blog/delete/{id}(id = ${blog.blogId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>